.home {
  margin: auto;
  padding: 10px;
}
.home__title {
  display: flex;
  justify-content: center;
}

.home__employees {
  display: flex;
  justify-content: center;
}

.ButtonGroup {
  padding: 100px;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.list-button {
  border-radius: 8px;
}
