.home {
  margin: auto;
  padding: 10px;
}
.home__title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.home__employees {
  display: flex;
  justify-content: center;
}

.homepage__text {
  display: flex;
  justify-content: center;
}

.btn-list {
  border-radius: 8px;
}

.homepage__link {
  display: flex;
  justify-content: center;
}
