@media screen and (min-width: 1024px) {
  .employee-details {
    &__background {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &__modal {
      position: fixed;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      width: 80%;
      max-width: 750px;
      background-color: white;
      border-radius: 24px;
      padding: 24px;
      font-size: 1.3rem;
    }
    &__form {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, fit-content);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      & > * {
        display: flex;
        flex-direction: column;
        padding: 12px;
      }
    }
    &__first-name {
      grid-area: 1 / 1 / 2 / 4;
    }
    &__last-name {
      grid-area: 1 / 4 / 2 / 7;
    }
    &__birth-date {
      grid-area: 2 / 1 / 3 / 4;
    }
    &__phone {
      grid-area: 2 / 4 / 3 / 7;
    }
    &__address {
      grid-area: 3 / 1 / 4 / 3;
    }
    &__city {
      grid-area: 3 / 3 / 4 / 5;
    }
    &__postal-code {
      grid-area: 3 / 5 / 4 / 7;
    }
    &__salary {
      grid-area: 4 / 1 / 5 / 4;
    }
    &__status {
      grid-area: 4 / 4 / 5 / 7;
    }

    &__input {
      background-color: unset;
      border-radius: 12px;
      padding: 4px 8px;
      color: unset;
      font-size: 1.2rem;
    }

    &__save {
      margin: 10px;
      padding: 10px 20px;
      border-radius: 20px;
      align-items: center;
      grid-area: 5 / 4 / 5 / 5;
      background-color: white;
      &:hover {
        background-color: rgb(0, 154, 21);
        color: white;
      }
    }
    &__cancel {
      margin: 10px;
      padding: 10px 20px;
      grid-area: 5 / 5 / 5 / 6;
      border-radius: 20px;
      align-items: center;
      background-color: black;
      color: white;
      &:hover {
        background-color: rgb(172, 0, 0);
        color: white;
      }
    }
    &__edit {
      margin: 10px;
      grid-area: 5 / 4 / 5 / 6;
      border-radius: 20px;
      align-items: center;
      background-color: white;
      color: black;
      &:hover {
        background-color: black;
        color: white;
      }
    }

    &__delete {
      margin: 10px;
      grid-area: 5 / 6 / 6 / 7;
      border-radius: 20px;
      align-items: center;
      background-color: black;
      color: white;
      &:hover {
        background-color: rgb(172, 0, 0);
        color: white;
      }
    }

    &__allow {
      text-align: center;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .employee-details {
    &__background {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &__modal {
      position: fixed;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      width: 80%;
      max-width: 750px;
      background-color: white;
      border-radius: 24px;
      padding: 24px;
      font-size: 1.3rem;
    }

    &__form {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, fit-content);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      & > * {
        display: flex;
        flex-direction: column;
        padding: 12px;
      }
    }

    &__first-name {
      grid-area: 1 / 1 / 2 / 4;
    }

    &__last-name {
      grid-area: 1 / 4 / 2 / 7;
    }

    &__birth-date {
      grid-area: 2 / 1 / 3 / 4;
    }

    &__phone {
      grid-area: 2 / 4 / 3 / 7;
    }

    &__address {
      grid-area: 3 / 1 / 4 / 3;
    }

    &__city {
      grid-area: 3 / 3 / 4 / 5;
    }

    &__postal-code {
      grid-area: 3 / 5 / 4 / 7;
    }

    &__salary {
      grid-area: 4 / 1 / 5 / 4;
    }

    &__status {
      grid-area: 4 / 4 / 5 / 7;
    }

    &__input {
      background-color: unset;
      border-radius: 12px;
      padding: 4px 8px;
      color: unset;
      font-size: 1.2rem;
    }

    &__save {
      margin: 10px;
      padding: 10px 20px;
      border-radius: 20px;
      align-items: center;
      grid-area: 5 / 4 / 5 / 5;
      background-color: white;
      &:hover {
        background-color: rgb(0, 154, 21);
        color: white;
      }
    }

    &__cancel {
      margin: 10px;
      padding: 10px 20px;
      grid-area: 5 / 5 / 5 / 6;
      border-radius: 20px;
      align-items: center;
      background-color: black;
      color: white;
      &:hover {
        background-color: rgb(172, 0, 0);
        color: white;
      }
    }

    &__edit {
      margin: 10px;
      grid-area: 5 / 4 / 5 / 6;
      border-radius: 20px;
      align-items: center;
      background-color: white;
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    &__delete {
      margin: 10px;
      grid-area: 5 / 6 / 6 / 7;
      border-radius: 20px;
      align-items: center;
      background-color: black;
      color: white;
      &:hover {
        background-color: rgb(172, 0, 0);
        color: white;
      }
    }

    &__allow {
      text-align: center;
    }
  }
}
@media screen and (max-width: 768px) {
  .employee-details {
    &__background {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &__modal {
      position: fixed;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      width: 80%;
      max-width: 750px;
      background-color: white;
      border-radius: 24px;
      padding: 24px;
      font-size: 0.5rem;
    }

    &__form {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, fit-content);
      & > * {
        display: flex;
        flex-direction: column;
        padding: 5px;
      }
    }

    &__first-name {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__last-name {
      grid-area: 1 / 2 / 3 / 2;
    }

    &__birth-date {
      grid-area: 2 / 1 / 4 / 2;
    }
    &__phone {
      grid-area: 2 / 2 / 2 / 2;
    }
    &__address {
      grid-area: 3 / 1 / 3 / 2;
    }
    &__city {
      grid-area: 3 / 2 / 3 / 3;
    }
    &__postal-code {
      grid-area: 4 / 1 / 4 / 2;
    }
    &__salary {
      grid-area: 5 / 1 / 5 / 2;
    }
    &__status {
      grid-area: 5 / 2 / 5 / 3;
    }

    &__input {
      background-color: unset;
      border-radius: 12px;
      padding: 4px 8px;
      color: unset;
      font-size: 0.5rem;
    }

    &__save,
    &__cancel,
    &__edit,
    &__delete {
      margin: 10px;
      padding: 10px 20px;
      border-radius: 20px;
      align-items: center;
    }

    &__save {
      grid-area: 5 / 1 / 6 / 2;
      background-color: white;
      &:hover {
        background-color: rgb(0, 154, 21);
        color: white;
      }
    }

    &__cancel {
      grid-area: 6 / 1 / 7 / 2;
      background-color: black;
      color: white;
      &:hover {
        background-color: rgb(172, 0, 0);
        color: white;
      }
    }

    &__edit {
      grid-area: 7 / 1 / 8 / 2;
      background-color: white;
      color: black;
      &:hover {
        background-color: black;
        color: white;
      }
    }

    &__delete {
      grid-area: 8 / 1 / 9 / 2;
      background-color: black;
      color: white;
      &:hover {
        background-color: rgb(172, 0, 0);
        color: white;
      }
    }

    &__allow {
      text-align: center;
    }
  }
}
